<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbarinside navbar-brand" href="/">Wild Séries</a>
    <button class="navbar navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar navbar-toggler-icon"></span>
    </button>
    <div class="navbar collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar navbar-nav mb-2 mb-lg-0">
        <li class="navbarinside nav-item dropdown">
<a class="navbarinside nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catégories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/category/Action">Action</a></li>
            <li><a class="dropdown-item" href="/category/Aventure">Aventure</a></li>
            <li><a class="dropdown-item" href="/category/Animation">Animation</a></li>
            <li><a class="dropdown-item" href="/category/Fantastique">Fantastique</a></li>
            <li><a class="dropdown-item" href="/category/Horreur">Horreur</a></li>
          </ul>
        </li>
        <li class="navbarinside nav-item">
          <a class="navbarinside nav-link" aria-current="page" href="">Acteurs</a>
        </li>
      </ul>
      <form class="navbar d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="navbarinside btn btn-outline" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>